body {
  background-color: darkslategray;
  font-family: 'Times New Roman', Times, serif;
}

.gallery-view {
  justify-content: center;
  display: grid;
  gap: 50px;
  padding: 50px;
}

.tour-img {
  object-fit: cover;
  height: 500px;
}

.loading-text {
  color: white;
}

.not-interested-btn {
  color: firebrick;
  font-weight: bold;
  background-color: linen;
  cursor: pointer;
}

.tour-view {
  background-color: linen;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}